## Dataset generation

In [19]:
import os
import pandas as pd
from sktime.utils.data_io import load_from_arff_to_dataframe

In [20]:
PATH = 'C:/Users/berna/Downloads/Multivariate2018_arff/Multivariate_arff'

In [21]:
train_x, train_y = load_from_arff_to_dataframe(
    os.path.join(PATH, "EigenWorms_TFM/EigenWormsDimension1_TRAIN.arff")
)
test_x, test_y = load_from_arff_to_dataframe(
    os.path.join(PATH, "EigenWorms_TFM/EigenWormsDimension1_TEST.arff")
)

In [22]:
pd.set_option('display.max_colwidth', None)

In [24]:
train_x.head()

                                                                                                                                                                                                                                 dim_0
0  0       -0.869467
1       -0.759418
2       -0.703444
3       -0.584800
4       -0.355616
           ...
17979   -1.174038
17980   -1.143847
17981   -1.151561
17982   -1.173736
17983   -1.223899
Length: 17984, dtype: float64
1  0       -1.943972
1       -1.945142
2       -1.954392
3       -2.018798
4       -2.014180
           ...
17979    1.826259
17980    1.904042
17981    1.921922
17982    1.884129
17983    1.978157
Length: 17984, dtype: float64
2  0        1.618473
1        1.669408
2        1.706154
3        1.680708
4        1.618054
           ...
17979    1.489463
17980    1.337108
17981    1.250882
17982    1.123102
17983    0.951868
Length: 17984, dtype: float64
3  0       -0.877703
1       -0.825706
2       -0.763933
3       -0.671876
4       -0.694432
           ...
17979   -0.432586
17980   -0.440944
17981   -0.434816
17982   -0.427771
17983   -0.430937
Length: 17984, dtype: float64
4  0        2.238256
1        2.200505
2        2.148145
3        2.224002
4        2.185645
           ...
17979    3.011773
17980    2.982921
17981    3.002349
17982    2.964902
17983    2.910573
Length: 17984, dtype: float64

In [14]:
train_y.shape

(128,)

In [25]:
train_x, train_y = load_from_arff_to_dataframe(
    os.path.join(PATH, "EigenWorms_TFM/EigenWormsDimension2_TRAIN.arff")
)
test_x, test_y = load_from_arff_to_dataframe(
    os.path.join(PATH, "EigenWorms_TFM/EigenWormsDimension2_TEST.arff")
)

In [26]:
train_x.head()

                                                                                                                                                                                                                                 dim_0
0  0        2.320568
1        2.298884
2        2.302923
3        2.204920
4        2.158014
           ...
17979   -1.137526
17980   -1.126004
17981   -1.143096
17982   -1.171733
17983   -1.200078
Length: 17984, dtype: float64
1  0        3.005051
1        3.029577
2        3.029210
3        3.033782
4        3.030836
           ...
17979    2.470948
17980    2.445918
17981    2.405174
17982    2.440765
17983    2.447187
Length: 17984, dtype: float64
2  0       -0.129274
1       -0.004588
2        0.273895
3        0.384836
4        0.602890
           ...
17979   -0.731731
17980   -0.697439
17981   -0.729768
17982   -0.745052
17983   -0.742760
Length: 17984, dtype: float64
3  0        3.011541
1        3.038971
2        3.035593
3        3.066756
4        2.984453
           ...
17979    2.971816
17980    2.948458
17981    2.923659
17982    2.919961
17983    2.936219
Length: 17984, dtype: float64
4  0       -0.710999
1       -0.766485
2       -0.819222
3       -0.866813
4       -1.003755
           ...
17979    1.043525
17980    1.082586
17981    1.030426
17982    1.083487
17983    1.077066
Length: 17984, dtype: float64

In [27]:
train_y.shape

(128,)